<header>
    <div class="background-light"></div>

    <div class="container">
      <div class="header-navbar">
        <div class="header-navbar-inner">
          <div class="header-logo">
            <a href="#"><img src="./imgs/logo.png" alt="" /></a>
          </div>
          <div class="header-navbar-btns">
            <div class="header-navbar-btn">
              <a href="catalog.html">Каталог</a>
            </div>

            <div class="header-navbar-btn">
              <a href="#">Доставка и оплата </a>
            </div>

            <div class="header-navbar-btn">
              <a href="#">О нас</a>
            </div>

            <div class="header-navbar-btn">
              <a href="#">Контакты</a>
            </div>

            <div class="header-navbar-btn">
              <a href="#">FAQ</a>
            </div>

            <div class="header-navbar-btn">
              <a href="#">поиск</a>
            </div>
          </div>
        </div>

        <div class="">
          <div class="header-email-numbers">
            <div class="header-email-numbers-inner">
              <a class="header-emails" href="#">zakaz@loverflower.by</a>
              <p class="header-emails-txt">
                Доставка 24/7 по договоренности с оператором
              </p>
            </div>
            <div class="header-email-numbers-inner">
              <a class="header-emails" href="#">ул. Тимирязева 67</a>
              <p class="header-emails-txt">
                10:00 до 21:00 <br />
                без выходных
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="header-banner">
        <div class="header-banner-inner">
          <h1 class="header-title">lover flower</h1>
          <div class="header-icons-block">
            <div class="header-icons-block-inner">
              <div class="header-icon">
                <img src="./imgs/instagram-icon.png" alt="" />
              </div>

              <div class="header-icon">
                <img src="./imgs/what's-up.png" alt="" />
              </div>

              <div class="header-icon">
                <img src="./imgs/phone.png" alt="" />
              </div>

            </div>
          </div>
        </div>
        <div class="header-banner">
          <a class="banner-btn" href="#">смотреть каталог</a>
          <div class="header-email-numbers-inner">
            <p class="header-emails">+375 (29) 113-69-69</p>
            <button class="phone-call">
              <a href="#">
                <img src="./imgs/button-phone.png" alt="" />заказать звонок</a
              >
            </button>
            <div class="korinka-main">
              <button class="korzinka-btn">
                <a href="#"><img src="./imgs/korzinka.svg" alt="" /></a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>